RAG/RAG_with_Telegram.json
{
  "name": "RAG-with-Telegram",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-1536",
          "mode": "list",
          "cachedResultName": "rag-1536"
        },
        "options": {}
      },
      "id": "0a4c092f-5d2b-47ef-afd7-f508c5d249b7",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        560,
        300
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "tozB2CX07HPwTgck",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "1f616657-93f0-4397-bb5d-cf9b6d685897",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        720,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "3fed9ac2-f90b-44a8-b54b-4a3c511f96bc",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        700,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful HR assistant designed to answer employee questions based on company policies.\n\nRetrieve relevant information from the provided internal documents and provide a concise, accurate, and informative answer to the employee's question.\n\nUse the tool called \"company_documents_tool\" to retrieve any information from the company's documents.\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\""
        }
      },
      "id": "9836294a-5399-4acc-b87e-cee73dc47f83",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        300,
        1140
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company_documents_tool",
        "description": "Retrieve information from any company documents"
      },
      "id": "5d8784bf-303d-4ec3-ad53-b6037cbcb0a1",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        700,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-1536",
          "mode": "list",
          "cachedResultName": "rag-1536"
        },
        "options": {}
      },
      "id": "0257af01-11a9-4b55-9d24-f105eab1b2c6",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        600,
        1540
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "tozB2CX07HPwTgck",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "8d9e0621-6461-4cd3-b136-8e7667ce79ac",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        340,
        300
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tOZ0SJu2ABCN1iyo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat with company documents"
      },
      "id": "768ad350-eecb-433e-8a6d-14eb9902fbb7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        300,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1YH2EtOtzjc5-dU5gcjX6HkdhKHkiRwx8",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YH2EtOtzjc5-dU5gcjX6HkdhKHkiRwx8"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "30f212ec-e38b-432d-b663-003ec62b2b52",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        20,
        440
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tOZ0SJu2ABCN1iyo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1YH2EtOtzjc5-dU5gcjX6HkdhKHkiRwx8",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YH2EtOtzjc5-dU5gcjX6HkdhKHkiRwx8"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "21c0ff43-77a6-45ec-9f88-f7c2c3bc9643",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        20,
        180
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tOZ0SJu2ABCN1iyo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "id": "7af4958e-5331-4b81-986f-94a43ff293ec",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        380,
        1440
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## Add docuemnts to vector store when updating or creating new documents in Google Drive",
        "width": 320
      },
      "id": "bf1760fb-a9ad-420b-9f14-cc7e8f56db7a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.",
        "height": 720,
        "width": 420
      },
      "id": "59cf25f5-4c2b-4d17-a692-c0050e1b931c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -660,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        500,
        540
      ],
      "id": "2197481a-8b0e-4ec7-b635-d49dc7e07e0a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "GTDhmm5MrlBFajFb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        1340
      ],
      "id": "2acbf9f0-96c9-4499-aa2c-243a6f9be5f0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GTDhmm5MrlBFajFb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        1540
      ],
      "id": "92bb2e50-01fd-49f0-837d-d64bd8429d90",
      "name": "OpenAI Chat Model (Retrieval)",
      "credentials": {
        "openAiApi": {
          "id": "GTDhmm5MrlBFajFb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        1700
      ],
      "id": "c2fb8ed9-cfb1-48cc-be9e-93d3fc6db713",
      "name": "Embeddings OpenAI (Retrieval)",
      "credentials": {
        "openAiApi": {
          "id": "GTDhmm5MrlBFajFb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -120,
        1140
      ],
      "id": "9172cbda-b8e9-47ab-a4e3-39d8530726cc",
      "name": "Telegram Trigger",
      "webhookId": "4537e0a9-1f69-4fa7-aaf2-c7f43d619396",
      "credentials": {
        "telegramApi": {
          "id": "wzlt0xkkw2l38eDu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78eda221-827d-4512-8968-6c51f8a8fdcc",
              "name": "chatInput",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        1140
      ],
      "id": "720b2307-a104-430a-9c7e-044afbebee11",
      "name": "Set 'chatInput'"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        1140
      ],
      "id": "b0c5b30a-93a2-4f00-879d-525c2248957f",
      "name": "Telegram",
      "webhookId": "70a4be2e-6998-4864-ab4a-41d5e03e3afb",
      "credentials": {
        "telegramApi": {
          "id": "wzlt0xkkw2l38eDu",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (Retrieval)": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI (Retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Set 'chatInput'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'chatInput'": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "885401b4-b39e-4f42-94dc-37d10439355f",
  "meta": {
    "instanceId": "01f68fe69dbbf2c869ab8ceea34ba5acc1ebb7513ea036ecdb11d5adb6563542"
  },
  "id": "ukNZPRdoKWi9IibK",
  "tags": []
}